.logo_img {
    width: 70%;
    height: 40px;
    margin-top: -10px;

  }
  .header_icon img {
    width: 50%;
    height: auto;
    padding-top: 15%;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  
  }
  
  @media (max-width: 550px) {
    .header_icon {
      padding-top: 6px;
    }
    #header_text_resp{
      text-align: center;
    }
    #header_btn_resp{
      display: block;
      margin-left: 35%;
    }
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgb(14, 14, 22);
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 200, 234, 23%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  
  }


  .button {
    --color:black;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(0,153,255);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   .logo_img{

    width: 10%;
    height: 5vh;
    margin-top: -30%;
    margin-bottom: -30%;
    margin-left: 3%;
  }

   #box_shadow_header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   }

   @media (max-width:550px){
    .logo_img{
      margin-left: 25%;
    }
    .button {
      display: block;
      left: 40%;
    }

    .logo_img{

      width: 20%;
      height: 5vh;
      margin-top: -30%;
      margin-bottom: -30%;
      margin-left: 1%;
    }
  
   }

   @media (max-width:870px) and (min-width:555px)
   {
    .logo_img{

      width: 15%;
      height: 4vh;
      margin-top: -30%;
      margin-bottom: -30%;
      margin-left: 1%;
    }
   }