.footer_logo img{
    width: 100%;
    height: auto;
}

.header_icon img {
    width: 70%;
    height: auto;
    padding-top: 15%;
  }


@media (max-width:414px){
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-top: -80px;
    }
}

@media (max-width:500px){

    #footer-resp{
        margin-top: 20%;
    }
}